.modal(tabindex='-1', role='dialog', ng-init='$ctrl.$onInit()')
  .modal-dialog
    .modal-content
      .modal-header(ng-switch='$ctrl.target')
        h4.modal-title(ng-switch-when='single')
          | #{__('Delete mail?')}
        h4.modal-title(ng-switch-when='multiple')
          | #{__('Delete mails?')}
        h4.modal-title(ng-switch-when='all')
          | #{__('Delete all mails?')}
      .modal-body(ng-switch='$ctrl.target')
        p(ng-switch-when='single')
          | #{__('If you choose to delete this mail, it will no longer be delivered and will be permanently deleted from James.')}
        p(ng-switch-when='multiple')
          | #{__('If you choose to delete these mails, they will no longer be delivered and will be permanently deleted from James.')}
        p(ng-switch-when='all')
          | #{__('If you choose to delete all mails in this repository, they will no longer be delivered and will be permanently deleted from James.')}
      .modal-footer
        button.btn.btn-link(ng-click="$hide()")
          | #{__('Cancel')}
        button.btn.btn-danger(ng-click="$ctrl.onDeleteBtnClick(); $hide()")
          | #{__('Delete')}
